@font-face {
  src: url('../../fonts/product-sans/ProductSans_Regular.ttf');
  font-family: 'Product Sans';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url('../../fonts/product-sans/ProductSans_Bold.ttf');
  font-family: 'Product Sans';
  font-weight: bold;
  font-style: normal;
}

@font-face {
  src: url('../../fonts/product-sans/ProductSans_Italic.ttf');
  font-family: 'Product Sans';
  font-weight: normal;
  font-style: italic;
}

@font-face {
  src: url('../../fonts/product-sans/ProductSans_BoldItalic.ttf');
  font-family: 'Product Sans';
  font-weight: bold;
  font-style: italic;
}

:root {
  --base-font: 'Product Sans', 'Arial', sans-serif;
}
