*,
*:before,
*:after {
  font-family: var(--base-font);
}

h1 {
  color: var(--dark-gray);
}

p {
  color: var(--dark-gray);
  font-size: 17px;
  line-height: 1.6;
}

a {
  color: var(--google-blue);
  font-weight: bold;
  padding-bottom: 5px;
  position: relative;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

a:after {
  background: var(--google-green);
  bottom: 0;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 0;
}

a:hover {
  color: var(--google-green);
}

a:hover:after {
  width: 100%;
}
